*{
    margin: 0;
    padding: 0;
}

.navbar{
    width: 100%;
    height: 50px;
    background: navy;
    /* display: grid; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar nav{
    background: salmon;
}